@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background-color: #121B27; 
}

body {
   font-family: 'DM Sans', sans-serif;
   width: 100%;
   height: 100vh;
}

h1 {
   font-size: 48px;
}

h2 {
   font-size: 64px;
   line-height: 83.2px;
   color: #FCFCFC;
   font-weight: 900;
}

h3 {
   font-size: 64px;
   line-height: 83.2px;
   color: #FCFCFC;
}
  
p {
   font-size: 24px;
   color: #FFFFFF;
   margin: 15px 0 20px 0;
   line-height: 31.2px;
   font-weight: 300;
} 

strong {
   color: #A75FD2;
}

ul li {
   list-style: none;
}
a {
   text-decoration: none;
}

header {
   display: flex;
   padding: 2% 6%;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.logo {
   display: flex;
   align-items: center;
   justify-content: center;
   color: #fff;
   font-size: 48px;
   margin: 0 5px;
}

.logo img {
   width: 30.33px;
}

.request {
   border: 1px solid #472c8f;
   box-sizing: 5px;
   border-radius: 100px;
   padding: 14px 40px;
   font-size: 13px;
   color: #fff !important;
}

/* Hero */
.hero {
   display: flex;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   padding: 20px;
}

.info input {
   width: 443px;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-bottom: 20px;
} 

.info input[type="text"], input[type="email"] {
   border: 1px  solid #DDDDDD80;  
   height: 45px;
   font-size: 14px;
   /* margin-bottom: 20px; */
   border-radius: 8px;
   /* box-sizing: 100px; */
   padding: 14px 25px;
}

.info input[type="submit"] {
   border: none;
   height: 45px;
   background: #472c8f;
   color: #fff;
   font-size: 14px;
   border-radius: 100px;
 }

/* container */
.holder {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   /* justify-content: center; */
   /* margin: 20px auto; */
   margin-top: 20%;
}

.left {
   margin-right: 25px;
   padding: 10px;
}

.left h1 {
   color: #fff;
   display: flex;
   /* align-items: center; */
   /* justify-content: center; */
}

.left p {
   width: 525px;
   color: #FCFCFC;
   font-size: 24px;
}

.right {
   padding: 30px;
   border-radius: 20px;
   background: #1D2939;
   border: 1px solid #1D2939;
   width: 633px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   /* height: 837px; */
}

.consult {
   font-weight: 600;
   color: white;
   padding-bottom: 20px;
   font-size: 24px;
   background: transparent;
   display: flex;
   justify-content: flex-start;
}

.right input {
   display: block;
   /* margin: 10px 0; */
   margin-bottom: 20px;
   padding: 16px;
   border: 1px solid #DDDDDD80;
   border-radius: 8px;
   width: 494px;
   height: 45px;
}

.right select {
   width: 494px;
   height: 45px;
   padding: 0 1em;
   border-radius: 8px;
   margin-bottom: 20px;
   background: transparent;
   color: #DDDDDD80;
}

.right .text-area {
   padding: 16px;
   width: 494px;
   border: 1px solid #DDDDDD80;
   border-radius: 8px;
   resize: none;
   height: 128px;
}


.right .btn {
   display: block;
   color: #FFFFFF;
   margin-top: 20px;
   width: 494px;
   height: 45px;
   text-decoration: none; 
   padding: 0 1em;
   font-size: 13px;
   border: 1px solid #472c8f;
   background: #472c8f;
   cursor: pointer;
   border-radius: 100px;
}


